
* {
    font-family: 'Courier New', Courier, monospace;
    margin: none;
}

a {
    text-decoration: none;
    border-bottom: none;
}

#container {
    margin: none;
}

 h5 {
     margin: 5px 0;
    padding: 5px;
 }
 
 h3 {
    margin: 5px 0;    
 }

.row {
    min-width: 383px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid grey ;
    margin: 15px auto;
    border-radius: 8px;
}

.tags {
    display:none;
}

.img-container {
    margin: auto 5px ;
    border-radius: 10px;
    height: 50%;
    min-width: 16%;
}



.logo {
    width: 45px;
    border-radius:35px;
    margin-left: 15px; 
}

.left-section {
    min-width:40%;
    border-left: #fafafa 1px solid;
    border-right: #fafafa 1px solid;
    padding-left: 10px;
}

.mid-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 50%;
    margin: auto;
}

.company, .position{
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace ;
    color:black;
}

.position {
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    font-size: 12px;
    font-weight:bolder;
}

.location {
 font-family: Verdana, Geneva, Tahoma, sans-serif;   
 color: black;
 background-color: #dadada;
 font-size:11px;
 font-weight: 400;
 border: 1px  #fafafa;
 border-radius: 6px;
 padding: 2px 3px;
 min-width: 90px;
 max-width: 105px;
 
} 

.hide-active {
    display: none;
}

.right-section{
min-width: 35%;
display: flex;
justify-content:center;
align-items: center;

}

/*.location::before*/

.apply {
    margin-right: 18px;
    padding: 10px 25px ;
    border: none;
    font-size: .8em;
    font-weight: 900;
    border-radius: 12px;
    background-color: white;
    color: lightseagreen;
    font-family: 'Courier New', Courier, monospace;
}

.apply:hover {
    cursor: pointer;
    background-color:cornflowerblue;
    color:white;
    opacity: 60%;
    /*box-shadow: -1px -1px 6px 0px #860909;*/
}

@media only screen and (min-device-width : 531px ){

    /* Styles */
    .img-container {
        min-width: 14%;
    }

    .row {
        min-width: 35%;
    }

    .right-section {
        min-width: 30%;
    }

    .logo {
        margin-left: 3
    6px;
        width: 50px;
    }

    .hide-active {
        display: block;
    }

    .left-section {
       min-width: 35% ;
    }

    .mid-right-section {
        font-size: 12px;
        height: 50%;
        margin: auto;
        padding: 0 5px;
        display: flex;
        flex-direction: column;
        align-items:center ;
        align-content: center;
        color: antiquewhite;
        max-width: 15%;
        color: black;
    }

    
    .mid-section:hover{
        background-color: coral;
        border-radius: 8px;
    }
/* figure out why this breakpoints are not being activated 
the min width once it reaches */

.apply {
    padding: 10px 30px ;
    border: none;
    font-size: .9em;
    font-weight: 900;
    border-radius: 12px;
    font-family: 'Courier New', Courier, monospace;
}

.apply:hover {
    display: block;
    cursor: pointer;
    background-color: cornflowerblue;
    box-shadow: -1px -1px 6px 0px #1b7eac;
}


    }

@media only screen and (min-device-width : 780px) {

.right-section {
    min-width: 20%;
}

.img-container {
    min-width: 10%;
}

.logo {
    width: 58px;
    margin-left: 5px;
    margin-right: 5px;
}

.mid-right-section {
    color: black;
    font-size: 14px;
    max-width: 12%;
}

.tags {
    display: block;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;  
    padding: 2px;
    text-transform: uppercase;  
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    }

.company, .position{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace ;
    color:black;
}

/*
something is up with the .apply responsiveness to the media vreakpoints
it's over riding it. could it be the em size instead of px?
*/
}    

    @media only screen and (min-device-width : 1120px) {

.company, .position{
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace ;
    color:black;
}

.left-section{
    min-width: 40%;
}

.location {
    font-size: 12px;
}

.img-container {
   min-width: 7%;
}

.logo {
    width: 70px;
}


    }    
.apply {
    font-size: 1.1em;
    margin-right: 5px;
    padding: 15px 40px ;
    color: lightseagreen;
}